<div class="card rounded-3 siteColor" style="margin: 0.5rem;" *ngFor="let site of sites">
    <div class="card-body">
        <div class="row Col-12">
            <div class="col-9">
                <div class="row col-12">
                    <div class="col-3 text-center">
                        <img class="siteImageSize rounded-circle"  src="{{sitePath}}{{site.documentDetailId}}.{{site.fileExtenstion}}" />
                    </div>
                    <div class="col-9 align-self-center">
                        <p class="text-uppercase">{{ site.siteName }}</p>
                        <p class="siteURL">{{ site.siteURL }}</p>
                    </div>
                </div>

            </div>

            <div class="col-3 d-grid gap-2 mx-auto" style="padding:0px">
                <div class="col-12 row text-center">
                    <button class="rounded-3 btn-primary text-nowrap btn-sm col-6" (click)="CreateIDRequest(site)" type="button">Create ID</button>
                </div>
            </div> 

        </div>
    </div>
</div>