
<div class="card mt-4 footer-nav footernavbar sitebackground cursorPointer">
    <div class="row col-12">
        <div class="col-3 grid-margin stretch-card" >
            <a href="#">
                <div class="card sitebackground">
                    <div class="card-body text-center">
                        <div class="row">
                            <i class="bi bi-house-door"></i>
                        </div>
                        <h6 class="text-muted font-weight-normal">
                            <p class="text-uppercase"> Home </p>
                        </h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 grid-margin stretch-card" (click)="AddSitesPopup()">
            <div class="card sitebackground">
                <div class="card-body text-center">
                    <div class="row">
                        <i class="bi bi-plus-circle"></i>
                    </div>
                    <h6 class="text-muted font-weight-normal">
                        <p class="text-uppercase"> Create </p>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-3 grid-margin stretch-card" (click)="getSiteList()">
            <div class="card sitebackground">
                <div class="card-body text-center">
                    <div class="row">
                        <i class="bi bi-app"></i>
                    </div>
                    <h6 class="text-muted font-weight-normal">
                        <p class="text-uppercase"> IDs </p>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-3 grid-margin stretch-card">
            <div class="card sitebackground">
                <div class="card-body text-center">
                    <div class="row">
                        <i class="bi bi-pass"></i>
                    </div>
                    <h6 class="text-muted font-weight-normal">
                        <p class="text-uppercase"> Passbook </p>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>