
<div class="col-12 text-center listtypeview">
    <p class="text-uppercase">User Listing</p>
</div>

<div class="mt-4">
<div class="customtable">
    <!-- Table with hoverable rows -->
    <table class="table table-hover scrollbar " id="userList">
        <thead>
        <tr class="tableHeaderClass">
            <th scope="col"><p class="">User Number</p></th>
            <th scope="col"><p class="">Created Date</p></th>
            <th scope="col"><p class="">Coins (<i class="bi bi-currency-rupee"></i>)</p></th>
            <th scope="col"><p class="">Action</p></th>
            </tr>
        </thead>
        <tbody>
            <!-- @if (Model != null && Model.ReturnList != null)
            {
                @foreach (var user in Model.ReturnList)
                {-->
                  
                    <tr *ngFor="let user of usersList">
                    <th scope="row"><p>{{user.userNumber}}</p></th>
                    <td><p>{{user.createdDate}}</p></td>
                    <td><p>{{user.coins}}</p></td>
                        <td>
                            <div class="btn-group">
                            <button (click)="depositeCoinsByUserId(user)"> <i class="bi bi-person-fill-up"></i></button>
                            <button (click)="withdrawCoinsByUserId(user)"> <i class="bi bi-person-fill-down"></i> </button>
                            <button (click)="ListCoins(user)"> <i class="bi bi-cash"></i> </button>
                            <button (click)="deleteUser(user)"> <i class="bi bi-person-fill-slash"></i></button>
                            </div>
                        </td>
                    </tr> 
               <!-- }
            } -->
        </tbody>
    </table>
    <!-- End Table with hoverable rows -->
</div>
</div>
