<header class='dashboard-toolbar sitebackground'>

  <div class="row col-12">
      <div class="col-3">
          <a href="#!" class="menu-toggle" style="margin-left:-20px;"><i class="bi bi-list"></i></a>
      </div>
      <div class="col-9 text-center">

          <!-- @if (!User.Identity.IsAuthenticated)
          { -->
              <div class="cricket-navigation">
                  <ul class="nav" style="margin-right:-70px;">
                      <li>
                          <button class="btn siteBtnbackground mb-3" tabindex="0">Demo ID</button>
                      </li>
                      <li>
                          <button class="btn siteBtnbackground mb-3" tabindex="0" (click)="loginPopup()">Login | Signup</button>
                      </li>
                  </ul>
              </div>
          <!-- }
          else
          {
              <h4 class="ContentHeader"></h4>
          } -->
      </div>
  </div>
</header>