<div class="modal-content siteColor">
    <form (ngSubmit)="SendDepositCoinsByUserId()" [formGroup]="DepositCoinsByUserIdForm" autocomplete="off">
        <div class="modal-header" style="justify-content: right;">
            <p class="modal-title">Deposite Coins</p>
            <div type="button" class="close" (click)="bsModalRef.hide()">
                <i class="bi bi-x-circle-fill"></i>
            </div>
        </div>
        <div class="modal-body">
            <div class="form-group col-12">
                <div class="d-flex flex-column text-center col-12">
                    <span class="business">WALLET BALANCE</span>
                    <span><i class="bi bi-currency-rupee"></i><span class="existingCoins"></span></span>
                </div>
            </div>
            <div class="form-group">
                <label>Mobile Number*</label>
                <input disabled="disabled" type="text" class="form-control" value="{{userNumber}}" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Coins(<i class="bi bi-currency-rupee"></i>)*</label>
                <input type="text" formControlName="coins" class="form-control" placeholder="Coins" autocomplete="off">
                <div class="text-danger" *ngIf="DepositCoinsByUserIdForm.get('coins')?.invalid && (submitted || DepositCoinsByUserIdForm.get('coins')?.touched || DepositCoinsByUserIdForm.get('coins')?.dirty)">
                <span *ngIf="DepositCoinsByUserIdForm.get('coins')?.errors?.['required']"> coins are is required </span> </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn siteBtnbackground">Deposit Coins</button>
        </div>
    </form>
</div>