<div class="modal-header">
    <p class="modal-title">Admin UPI Detail!</p>
    <div type="button" class="close" (click)="bsModalRef.hide()">
      <i class="bi bi-x-circle-fill"></i>
    </div>
</div>
<div class="card-header py-4 text-center">
    <img src="../../../../assets/kapunter.ico" class="modallogosize" alt="logo">
</div>

<div class="card-body p-4">

    <div class="text-center w-75 m-auto">
        
    </div>
    <form (ngSubmit)="AddAdminUpi()" [formGroup]="addAdminUpiForm" autocomplete="off">
        <div class="mb-3 form-group">
            <label for="UpiName" class="form-label">UPI Name*</label>
            <input class="form-control" type="text" formControlName="UpiName" placeholder="Upi Name" autocomplete="off" [(ngModel)]="add_admin_upi.upiName">
            <div class="text-danger" *ngIf="addAdminUpiForm.get('UpiName')?.invalid && (submitted || addAdminUpiForm.get('UpiName')?.touched || addAdminUpiForm.get('UpiName')?.dirty)">
            <span *ngIf="addAdminUpiForm.get('UpiName')?.errors?.['required']"> Bank Name is required </span> </div>
        </div>

        <div class="mb-3 form-group">
            <label for="UpiId" class="form-label">UPI ID*</label>
            <input class="form-control" type="text" formControlName="UpiId" placeholder="Upi Id" autocomplete="off" [(ngModel)]="add_admin_upi.upiId">
            <div class="text-danger" *ngIf="addAdminUpiForm.get('UpiId')?.invalid && (submitted || addAdminUpiForm.get('UpiId')?.touched || addAdminUpiForm.get('UpiId')?.dirty)">
            <span *ngIf="addAdminUpiForm.get('UpiId')?.errors?.['required']"> Account Holder Name is required </span> </div>
        </div>
 
        <div class="col-12 mb-0 text-center">
            <button class="col-12 btn siteBtnbackground" type="submit"> Add UPI Detail</button>
        </div>
    </form>
</div>
