 
        <div class="modal-content siteColor">
            <div class="modal-header">
                <p class="modal-title">Make Default</p>
                <div type="button" class="close" (click)="bsModalRef.hide()">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p>Are you sure, want to make Default {{title}}?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn siteBtnbackground" (click)="makedefault()">Confirm</button>
            </div>
        </div>
     