<form (ngSubmit)="WithdrawCoinsToIds()" [formGroup]="withdrawCoinsfromidsFrom">
    <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel">Withdraw Coins From ID</p>
        <div type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
            <i class="bi bi-x-circle-fill"></i>
        </div>
    </div>
    <div class="modal-body">
        <div class="form-group col-12">
            <div class="d-flex flex-column text-center col-12">
                <span class="">
                    <img class="siteIcon rounded-circle siteImageSize" src="{{sitePath}}{{obj.documentDetailId}}.{{obj.fileExtenstion}}" />
                </span>
                <p class="text-uppercase">{{obj.siteName}}</p>
                <p>{{obj.siteURL}}</p>
                <p>{{obj.userName}}</p>
            </div>
        </div>
        <div class="form-group">
            <label>Coins(<i class="bi bi-currency-rupee"></i>)*</label>
            <input type="text" formControlName="coins" class="form-control" placeholder="coins" [(ngModel)]="obj.coins" autocomplete="off">
            <div class="text-danger" *ngIf="withdrawCoinsfromidsFrom.get('coins')?.invalid && (submitted || withdrawCoinsfromidsFrom.get('coins')?.touched || withdrawCoinsfromidsFrom.get('coins')?.dirty)">
            <span *ngIf="withdrawCoinsfromidsFrom.get('coins')?.errors?.['required']"> coins are is required </span> </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn siteBtnbackground col-12">Withdraw Coins From ID</button>
    </div>
</form>