
        <div class="modal-content siteColor">
            <form (ngSubmit)="AddSite()" [formGroup]="AddSiteFrom">
                <div class="modal-header" style="justify-content: right;" (click)="bsModalRef.hide()">
                    <p class="modal-title">Site</p>
                    <div type="button" class="close" >
                        <i class="bi bi-x-circle-fill"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Site Name</label>
                        <input formControlName="siteName" type="text" class="form-control" placeholder="Site Name" autocomplete="off">
                        <div class="text-danger" *ngIf="AddSiteFrom.get('siteName')?.invalid && (submitted || AddSiteFrom.get('siteName')?.touched || AddSiteFrom.get('siteName')?.dirty)">
                         <span *ngIf="AddSiteFrom.get('siteName')?.errors?.['required']"> Site Name is required </span> </div>
                    </div>
                    <div class="form-group">
                        <label>Site URL</label>
                        <input formControlName="siteURL" type="text" class="form-control siteURL" placeholder="Site URL" autocomplete="off">
                        <div class="text-danger" *ngIf="AddSiteFrom.get('siteURL')?.invalid && (submitted || AddSiteFrom.get('siteURL')?.touched || AddSiteFrom.get('siteURL')?.dirty)">
                        <span *ngIf="AddSiteFrom.get('siteURL')?.errors?.['required']"> Site URL is required </span> </div>
                    </div>
                    <div class="form-group">
                        <div method="post" enctype="multipart/form-data" style="margin-top: 10px">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <!-- <input type="file" name="files" class="files" /> -->
                                    <input #imageInput type="file" formArrayName="files" accept="image/*" (change)="processFile(imageInput)">
                                    <div class="text-danger" *ngIf="AddSiteFrom.get('files')?.invalid && (submitted || AddSiteFrom.get('files')?.touched || AddSiteFrom.get('files')?.dirty)">
                                     <span *ngIf="AddSiteFrom.get('files')?.errors?.['required']"> File is required </span> 
                                    </div>                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn siteBtnbackground col-12">Add Site</button>
                </div>
            </form>
        </div>
    