

<div class="container">
    <main role="main" class="pb-3">
        <div class="main">
            <div class='coinsValidation' data-coins="@coins">
                <div class="dashboard-nav sitebackground" style="margin-top: 3%;">
                    <nav class="dashboard-nav-list" style="font-size: 10px;font-weight: 900;">
                    <a href="#" class="dashboard-nav-item ">
                        <i class="bi bi-house"></i> dashboard
                     </a>
                    
                    <div class='dashboard-nav-dropdown'>
                        <span class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="bi bi-image"></i> Dashboard Images
                        </span>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a routerLink="/dashboard/list-images" class="dashboard-nav-dropdown-item "> <i class="bi bi-people"></i> List Image </a>
                            <span class="dashboard-nav-dropdown-item" (click)="OpenAddImagePopup()"><i class="bi bi-cart-plus-fill"></i>Add Image</span>
                        </div>
                    </div>
                    
                    <div class='dashboard-nav-dropdown'>
                        <span class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="bi bi-person"></i> Accounts
                        </span>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a href="/Account/Index?viewType=AcRequest" class="dashboard-nav-dropdown-item "> <i class="bi bi-people"></i> Account Requests </a>
                            <a href="/Account/Index?viewType=CloseIdRequest" class="dashboard-nav-dropdown-item "> <i class="bi bi-people"></i> Close Account Requests </a>
                            <a href="/Account/Index?viewType=ChangePassRequest" class="dashboard-nav-dropdown-item "> <i class="bi bi-people"></i> Change Password Requests </a>
                            <a href="/Account/Index?viewType=Accounts" class="dashboard-nav-dropdown-item "> <i class="bi bi-person-fill-add"></i> Created Accounts</a>
                            <a href="/Account/Index?viewType=RejectedAcRequests" class="dashboard-nav-dropdown-item "> <i class="bi bi-person-fill-dash"></i> Rejected Accounts</a>
                        </div>
                    </div>
                    
                    <div class='dashboard-nav-dropdown'>
                        <span class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="bi bi-bank2"></i> Bank Details
                        </span>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a href="/BankAccount/Index?viewType=adminBank" class="dashboard-nav-dropdown-item "> <i class="bi bi-bank"></i> List Vendor Banks</a>
                            <a href="/BankAccount/Index?viewType=adminUpi" class="dashboard-nav-dropdown-item "> <i class="bi bi-bank"></i> List Vendor Upi</a>
                            <a href="/BankAccount/Index?viewType=adminQR" class="dashboard-nav-dropdown-item "> <i class="bi bi-bank"></i> List Vendor QR</a>
                        </div>
                    </div>
                    
                    <div class='dashboard-nav-dropdown'>
                        <span class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="bi bi-cart"></i> Sites
                        </span>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a routerLink="/site/app-list-sites" class="dashboard-nav-dropdown-item" ><i class="bi bi-cart4"></i>Sites</a>
                            <span class="dashboard-nav-dropdown-item" (click)="AddSitesPopup()"><i class="bi bi-cart-plus-fill"></i>Add Site</span>
                        </div>
                    </div>
                    
                    <div class='dashboard-nav-dropdown'>
                        <span class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="bi bi-cash-coin"></i> Coin Requests
                        </span>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a routerLink="/account/coins/deposite-to-site-list" class="dashboard-nav-dropdown-item "><i class="bi bi-cash-coin"></i>Deposit to Site Requests</a>
                            <a routerLink="/account/coins/withdraw-from-site-list" class="dashboard-nav-dropdown-item "><i class="bi bi-cash-coin"></i>Withdraw from Site Requests</a>
                            <a routerLink="/account/coins/deposite-list" class="dashboard-nav-dropdown-item "><i class="bi bi-cash-coin"></i>Desposit To Wallet Requests</a>
                            <a routerLink="/account/coins/withdraw-list" class="dashboard-nav-dropdown-item "><i class="bi bi-cash-coin"></i>Withdraw From Wallet Requests</a>
                        </div>
                    </div>
                    
                    <div class='dashboard-nav-dropdown'>
                        <span class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="bi bi-people"></i> Users
                        </span>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a  routerLink="/account/user_list" class="dashboard-nav-dropdown-item "><i class="bi bi-people"> </i>List User</a>
                            <span class="dashboard-nav-dropdown-item"> <i class="bi bi-person-add"> </i>Add Users</span>
                        </div>
                    </div>
                    
                    <a routerLink="#" class="dashboard-nav-item "><i class="bi bi-gear-fill"></i> Settings </a>
                    </nav>
                </div>
                
                <div class='dashboard-app'>
                    <app-toaster> </app-toaster>
                    <app-navbar> </app-navbar>
                
                    <router-outlet> </router-outlet>
                
                </div>
            </div>
        </div>
    </main>
</div>

<app-footer> </app-footer>


