

<div class="container">
    <main role="main" class="pb-3">
        <div class="main">
            <div class='coinsValidation' data-coins="@coins">
                <div class="dashboard-nav sitebackground" style="margin-top: 3%;">
                    <nav class="dashboard-nav-list" style="font-size: 10px;font-weight: 900;" 
                    *ngIf="hasRole('Admin')">
                    <a href="#" class="dashboard-nav-item ">
                        <i class="bi bi-house"></i> dashboard
                     </a>
                    
                    <div class='dashboard-nav-dropdown'>
                        <span class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="bi bi-image"></i> Dashboard Images
                        </span>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a routerLink="/dashboard/list-images" class="dashboard-nav-dropdown-item "> <i class="bi bi-people"></i> List Image </a>
                            <span class="dashboard-nav-dropdown-item" (click)="OpenAddImagePopup()"><i class="bi bi-cart-plus-fill"></i>Add Image</span>
                        </div>
                    </div>
                    
                    <div class='dashboard-nav-dropdown'>
                        <span class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="bi bi-person"></i> Accounts
                        </span>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a routerLink="/ids/change-password-requests" class="dashboard-nav-dropdown-item "> <i class="bi bi-people"></i> Account Requests </a>
                            <a routerLink="/ids/close-id-requests" class="dashboard-nav-dropdown-item "> <i class="bi bi-people"></i> Close Account Requests </a>
                            <a routerLink="/ids/list-id-requests" routerLinkActive="router-link-active"  class="dashboard-nav-dropdown-item "> <i class="bi bi-people"></i> Change Password Requests </a>
                            <a routerLink="/ids/list-ids" class="dashboard-nav-dropdown-item "> <i class="bi bi-person-fill-add"></i> Created Accounts</a>
                            <a routerLink="/ids/rejected-id-requests" class="dashboard-nav-dropdown-item "> <i class="bi bi-person-fill-dash"></i> Rejected Accounts</a>
                        </div>
                    </div>
                    
                    <div class='dashboard-nav-dropdown'>
                        <span class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="bi bi-bank2"></i> Bank Details
                        </span>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a routerLink="/bankAccount/list-admin-bank-account" class="dashboard-nav-dropdown-item "> <i class="bi bi-bank"></i> List Vendor Banks</a>
                            <a routerLink="/bankAccount/list-admin-upi" class="dashboard-nav-dropdown-item "> <i class="bi bi-bank"></i> List Vendor Upi</a>
                            <a routerLink="/bankAccount/list-admin-qr" class="dashboard-nav-dropdown-item "> <i class="bi bi-bank"></i> List Vendor QR</a>
                        </div>
                    </div>
                    
                    <div class='dashboard-nav-dropdown'>
                        <span class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="bi bi-cart"></i> Sites
                        </span>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a routerLink="/site/app-list-sites" class="dashboard-nav-dropdown-item" ><i class="bi bi-cart4"></i>Sites</a>
                            <span class="dashboard-nav-dropdown-item" (click)="AddSitesPopup()"><i class="bi bi-cart-plus-fill"></i>Add Site</span>
                        </div>
                    </div>
                    
                    <div class='dashboard-nav-dropdown'>
                        <span class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="bi bi-cash-coin"></i> Coin Requests
                        </span>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a routerLink="/account/coins/deposite-to-site-list" class="dashboard-nav-dropdown-item "><i class="bi bi-cash-coin"></i>Deposit to Site Requests</a>
                            <a routerLink="/account/coins/withdraw-from-site-list" class="dashboard-nav-dropdown-item "><i class="bi bi-cash-coin"></i>Withdraw from Site Requests</a>
                            <a routerLink="/account/coins/deposite-list" class="dashboard-nav-dropdown-item "><i class="bi bi-cash-coin"></i>Desposit To Wallet Requests</a>
                            <a routerLink="/account/coins/withdraw-list" class="dashboard-nav-dropdown-item "><i class="bi bi-cash-coin"></i>Withdraw From Wallet Requests</a>
                        </div>
                    </div>
                    
                    <div class='dashboard-nav-dropdown'>
                        <span class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="bi bi-people"></i> Users
                        </span>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a  routerLink="/account/user_list" class="dashboard-nav-dropdown-item "><i class="bi bi-people"> </i>List User</a>
                            <span class="dashboard-nav-dropdown-item"> <i class="bi bi-person-add"> </i>Add Users</span>
                        </div>
                    </div>

                    <div class="nav-item-divider"></div>
                        <div class="social-icons-btn ms-5">
                            <span class="icons instagram" href="#" style="font-size: 1.5em;">
                                <i class="bi bi-instagram"></i>
                            </span>
                            &nbsp;
                            &nbsp;
                            <span class="icons telegram" href="#" style="font-size: 1.5em;">
                                <i class="bi bi-telegram"></i>
                            </span>
                        </div>
                        <span class="dashboard-nav-item "><i class="bi bi-file-earmark-text-fill"></i> Terms </span>
                        <span class="dashboard-nav-item "><i class="bi bi-tag-fill"></i> Offers </span>
                        <span routerLink="/notification/list-notification" class="dashboard-nav-item "><i class="bi bi-bell-fill"></i> Notifications </span>
                    </nav>

                    <nav class="dashboard-nav-list" style="font-size: 10px;font-weight: 900;" *ngIf="hasRole('User')">
                        <span routerLink="/account/profile-details" class="dashboard-nav-item "><i class="bi bi-person"></i> Profile </span>
                        <span routerLink="/bankAccount/list-admin-bank-account" class="dashboard-nav-item "><i class="bi bi-bank2"></i> Withdraw Details </span>
                        <span class="dashboard-nav-item  IDsList"><i class="bi bi-plus-circle-fill"></i> Create Id </span>
                        <span class="dashboard-nav-item "><i class="bi bi-star-fill"></i> Bonus </span>
                        <span class="dashboard-nav-item "><i class="bi bi-fast-forward-fill"></i> Loss Back </span>
                        <span class="dashboard-nav-item "><i class="bi bi-file-pdf-fill"></i> Rules </span>

                        <div class="nav-item-divider"></div>

                        <div class="social-icons-btn ms-5">
                            <span class="icons instagram" href="#" style="font-size: 1.5em;">
                                <i class="bi bi-instagram"></i>
                            </span>
                            &nbsp;
                            &nbsp;
                            <span class="icons telegram" href="#" style="font-size: 1.5em;">
                                <i class="bi bi-telegram"></i>
                            </span>
                        </div>

                        <span class="dashboard-nav-item "><i class="bi bi-file-earmark-text-fill"></i> Terms </span>
                        <span class="dashboard-nav-item "><i class="bi bi-tag-fill"></i> Offers </span>
                        <span routerLink="notification/list-notification" class="dashboard-nav-item "><i class="bi bi-bell-fill"></i> Notifications </span>
                    </nav>

                </div>
                
                <div class='dashboard-app'>
                    <app-toaster> </app-toaster>
                    <app-navbar> </app-navbar>
                
                    <router-outlet> </router-outlet>
                
                </div>
            </div>
        </div>
    </main>
</div>

<app-footer> </app-footer>


