
        <style>
            .nav-item-divider {
                background-color: rgb(20 24 25 / 30%);
            }
        </style>
        <div class="modal-content siteColor">
            <form (ngSubmit)="withdrawCoinRequest()" [formGroup]="withdrawCoinRequestFrom">
                <div class="modal-header" style="justify-content: right;">
                    <p class="modal-title" id="exampleModalLabel">Withdraw</p>
                    <div type="button" class="close"  (click)="bsModalRef.hide()" aria-label="Close">
                        <i class="bi bi-x-circle-fill"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12 modalContentBgclr">
                        <div class="d-flex flex-column text-center col-12">
                            <span class="business">WALLET BALANCE</span>
                            <span class=""><i class="bi bi-currency-rupee"></i> {{remainingCoins}} </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Withdaw Coins(<i class="bi bi-currency-rupee"></i>)*</label>
                        <input type="number" formControlName="coins" class="form-control" placeholder="Enter Coins" autocomplete="off">
                        <div class="text-danger" *ngIf="withdrawCoinRequestFrom.get('coins')?.invalid && (submitted || withdrawCoinRequestFrom.get('coins')?.touched || withdrawCoinRequestFrom.get('coins')?.dirty)">
                            <span *ngIf="withdrawCoinRequestFrom.get('coins')?.errors?.['required']"> Coins are required </span> 
                        </div>
                        <p>*Minimum withdaw amount is 100 coins</p>
                    </div>

                    <div class="nav-item-divider"></div>

                    <div class="container form-group">
                        <div class="row col-12">
                            <div class="col col-6">
                                <p class="text-uppercase">Preffered Bank</p>
                            </div>
                            <p class="col col-6">
                                <select class="form-select form-select-md mb-3" formControlName="bankDropdown" (change)="ChangeWithDrawBank()" aria-label="">
                                    <option> Name 1 </option>
                                    <option> Name 2 </option>
                                </select>
                                <span class="text-danger" *ngIf="withdrawCoinRequestFrom.get('bankDropdown')?.invalid && (submitted || withdrawCoinRequestFrom.get('bankDropdown')?.touched || withdrawCoinRequestFrom.get('bankDropdown')?.dirty)">
                                    <span *ngIf="withdrawCoinRequestFrom.get('bankDropdown')?.errors?.['required']"> Coins are required </span> 
                                </span>
                            </p> 
                        </div>
                    </div>
                    <div class="nav-item-divider"></div>
                    <div>
                        <div class="d-flex flex-column col-12">
                            <div class="row col-12">
                                <p class="col-6"> Bank Name </p>
                                <p class="col-6" style="text-align: end;"> {{bankdetails.bankName}}</p>
                            </div>
                            <div class="nav-item-divider-small"></div>
                            <div class="row col-12">
                                <p class="col-6"> Account Holder Name </p>
                                <p class="col-6" style="text-align: end;"> {{bankdetails.accountHolderName}} </p>
                            </div>
                            <div class="nav-item-divider-small"></div>
                            <div class="row col-12">
                                <p class="col-6"> Account Number </p>
                                <p class="col-6" style="text-align: end;"> {{bankdetails.accountNumber}} </p>
                            </div>
                            <div class="nav-item-divider-small"></div>
                            <div class="row col-12">
                                <p class="col-6"> IFSC Code </p>
                                <p class="col-6" style="text-align: end;"> {{bankdetails.ifscCode}} </p>
                            </div>
                            <div class="nav-item-divider-small"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn col-12 siteBtnbackground">Withdraw Coins</button>
                </div>
            </form>
        </div>
   

