
<div class="dashboard-content">
    <div class="row" style="padding-bottom:50px;">

        <div class="Wallet-Component-Main-Container">
            <div class="Wallet-Dep-Wal-With-Container">
              <div class="Wallet-Dep-Comp" *ngIf="(authservice.isLoggenIn | async)" (click)="DepositeToWallet()">
                <span>DEPOSIT</span>
                <img style="width: 30px; height: 41.89px" src="../../assets/arrow-up.svg" alt="Up Arrow"/>
              </div>
              <div class="Wallet-Dep-Comp" *ngIf="!(authservice.isLoggenIn | async)" (click)="LoginToastr()">
                <span>DEPOSIT</span>
                <img style="width: 30px; height: 41.89px" src="../../assets/arrow-up.svg" alt="Up Arrow"/>
              </div>
              <div class="Wallet-Bal-Comp">
                <img style="height: 67.74px;border-radius: 15px 15px 0px 0px;margin-top: -5px;" src="../../assets/kapunter.ico" alt="Logo"/>
                <div style="display:flex; flex-direction:column; align-items:center">
                  <p style="margin:0px; font-Size:10.5px; font-Weight:300">WALLET BALANCE</p>
                  <div style="display:flex; align-Items:flex-end; justify-Content:center">
                  <img style="width: 18px; height: 18.8px; margin: 6px 5px 0 0;" src="../../assets/coins-icon.png" alt="Coins Icon"/>
                  <p style="font-Size:15px; margin:0">0</p>
                  </div>
                </div>
              </div>
              <div class="Wallet-With-Comp" *ngIf="(authservice.isLoggenIn | async)" (click)="WithdrawFromWallet()">
                <span>WITHDRAW</span>
                <img style="width: 30px; height: 41.89px" src="../../assets/arrow-down.svg" alt="Down Arrow"/>
              </div>
              <div class="Wallet-With-Comp" *ngIf="!(authservice.isLoggenIn | async)" (click)="LoginToastr()">
                <span>WITHDRAW</span>
                <img style="width: 30px; height: 41.89px" src="../../assets/arrow-down.svg" alt="Down Arrow"/>
              </div>
            </div>
          </div>

        <div id="DashboardImageSlides" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000" *ngFor="let image of images">
                    <img src="{{imgPath}}{{image.documentDetailId}}.{{image.fileExtenstion}}" class="d-block w-100" alt="">
                </div>
                <!-- <div class="carousel-item" data-bs-interval="10000">
                  <img src="../../assets/DashboardImages/0f5c6b92-1ac9-42fe-9fc2-d50f230a13e9.jpg" class="d-block w-100" alt="">
              </div> -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#DashboardImageSlides" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#DashboardImageSlides" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
